{% extends 'portfolio/base.html' %}
{%block content%}

<h1 style="text-align: center;">My Projects</h1>
<br>
<br>
<br>




<style>
body,
.blurred-bg-container .content h1 {
  margin: 0;
}

.blurred-bg-container {
  background: url(https://web.opendrive.com/api/v1/download/file.json/NTlfMTMzMTgyNzlf?inline=1);
  height: 100vh; /* =h */
  background-size: cover;
}

.blurred-bg-container .content {
  background: inherit;
  width: 60%; /* =cw */
  height: 40%; /* =ch */
  border-radius: 8px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 50%; /* =ct */
  left: 40%; /* =cl */
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.blurred-bg-container .text {
  padding: 16px;
  background: rgba(255, 255, 255, 0.3);
  height: 100%;
  box-sizing: border-box; /* so that padding is included in height */
}

.blurred-bg-container .blur {
  background: inherit;
  height: 100vh; /* h */
  width: 166.667%; /* (100/cw) x 100% */
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(
    -10%,
    -30%
  ); /* - [cl - (cw/2)] % ,  -[ct - (ch/2)] % */
  filter: blur(20px);
  z-index: -1;
}


</style>

{% for x in projects%}

<div class="blurred-bg-container">
  <div class="content">
    <div class="text">
      <a href="{{x.url}}" ><h1>{{x.title}}</h1></a> 
    {{x.date|date:'d M Y'}}
    <p>{{x.description|striptags|truncatechars:100}}</p>
    </div>
  </div>
    <div class="blur"></div>
  </div>
  
  {%endfor%}








{%endblock%}