{% extends 'portfolio/base.html' %} {%block content%}
<!-- <br /> -->
<!-- <br /> -->
<!-- <br /> -->
<!-- <br /> -->
<div style="position: relative; margin: auto; width: 50vw; display: block;"></div>
{% for x in connects%}
  <a href="{{x.url}}">
    <img
      style="margin-right: 5vw; margin-top: 10vh; margin-left: 2vw; position: relative;"
      src="{{x.image.url}}"
      width="64"
      height="64"
    />
  </a>
</div>

<!-- &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; -->
{%endfor%}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{%endblock%}
